# Environments
venv/
.venv/
env/
ENV/
.env
*.env

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# ROS 2 workspace build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# External ROS 2 dependencies
ros2_ws/src/unitree_ros2/
